name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deno-version:
          - 1.42.4

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Run Lint
        run: deno lint src/
      - name: Run Tests
        run: deno test -A mod_test.ts
